body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/3-cups-of-dairy-a-day.png);
  background-repeat: no-repeat;
  background-size: cover;
  
    
  }
  
  header {
    background-color: #f2f2f2;
    
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .dairy-products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    flex: 1 1 200px; /* Adjust width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #163356;
    color: #f2f2f2;
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
  }
  
  .order-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .order-link:hover {
    background-color: #0056b3;
  }


  

/*The code that made it center*/

  .dairy-products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dairy-products h2 {
    width: 100%; /* Ensure the heading takes up full width */
    text-align: center; /* Center align the heading */
  }
  
  .product {
    flex: 1 1 200px; /* Adjust width as needed */
    margin: 10p;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
  }
  
  .order-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .order-link:hover {
    background-color: #0056b3;
  }
  #ches{
    color: #889c0b;
    background-color: #163356;height: 150px;
    font-family: "Teko", sans-serif;
    font-weight: 100;
    font-size:70px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    
    
  }
#milk{
  background-color: #889c0b;height: 100px;
  font-size: x-large;
  background-color: #889c0b;
  height: 100px;
  font-size: x-large;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
  
}
#butter{
  color: #f7fafa;
}
#yooo{
  height: 650px;
}
#srch{
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
  color: #f2f2f2;
}